.root{
    -fx-background-color: #24ffc7;
    -fx-font-size: 12pt;
}
label{
    -fx-text-fill: #0f293e;
}
.button{
    -fx-background-color: linear-gradient(#ea1313,#f784a8);
    -fx-background-radius: 50;
}